@use 'variables' as v;

body {
  background-color: v.$background-color;
  color: v.$font-base-color;

  font-family: v.$default-font-family;

  margin-left: v.$margin-base;
  margin-right: v.$margin-base;

  max-width: v.$max-width;
}
