@font-face {
  font-family: 'SF Pro KR';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/SF-Pro-KR-Regular.woff')
    format('woff');
  font-weight: 700;
  font-size: 24px;
  height: 28px;
  letter-spacing: -0.01px;
}
